unset x && declare -A x
x['A']=23
x['B']=25
x['C']=28
x['D']=30
x['E']=33
x['F']=35
x['G']=38
x['H']=40
x['J']=43
x['K']=45
x['L']=48
x['M']=50
x['N']=53
x['P']=55
x['Q']=58
x['R']=60
x['S']=63
x['T']=65
x['U']=68
x['V']=70
x['W']=73
x['X']=75
x['Y']=78
x['Z']=80
x['a']=83
x['b']=85
x['c']=88
x['d']=90
x['e']=93
x['f']=95
x['g']=98
x['h']=100
x['i']=103
x['j']=105
x['k']=108
x['m']=110
x['n']=113
x['o']=115
x['p']=118
x['q']=120
x['r']=123
x['s']=125
x['t']=128
x['u']=130
x['v']=133
x['w']=135
x['x']=138
x['y']=140
x['z']=143
x['1']=0
x['2']=3
x['3']=5
x['4']=8
x['5']=10
x['6']=15
x['7']=15
x['8']=18
x['9']=20
